* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  max-width: 1500px;
  padding: 1.5rem 0 0.5rem 0;
  background-color: #ebebeb;
}

.header h1 {
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 1500px;
}

.section_location {
  margin: 0 auto;
  max-width: 1500px;
  padding: 1rem;
  background-color: #c7c4c4;
  text-align: center;
}

.section_location h4 {
  font-size: 1.5rem;
}

.section_location .fas {
  padding: 0 1rem;
}

.section_presentation {
  background-color: #ebebeb;
  margin: 0 auto;
  max-width: 1500px;
  padding: 2rem 1rem;
  text-align: center;
}

.section_presentation h2 {
  font-size: 2rem;
  font-weight: bold;
}

.section_presentation h4 {
  font-size: 1.4rem;
  font-weight: 100;
  margin: 1.5rem 0;
}

.section_presentation .btn {
  padding: 1rem 2rem;
  margin: 0.5rem 0 1rem 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 2rem;
  border: none;
  background-color: violet;
  color: white;
}

.section_fonctionnement {
  background-color: brown;
  margin: 1rem auto;
  max-width: 1500px;
  padding: 1rem;
}

.section_fonctionnement h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 1rem;
}

.section_btn {
  background-color: yellow;
}

.section_btn .section_fonctionnement_btn {
  background-color: #c4bdbd;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.section_btn .section_fonctionnement_btn_etapes {
  background-color: #c90fc9;
  color: white;
  border-radius: 50%;
  padding: 0.6rem;
  margin-left: -2rem;
}

.section_btn .fas {
  margin: 0 1rem;
  font-size: 1.3rem;
}

.section_btn .fa-store {
  color: #c90fc9;
}

.section_btn .section_fonctionnement_btn_action {
  font-size: 1rem;
  font-weight: bold;
}

@media screen and (min-width: 750px) {
  .section_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section_fonctionnement_btn {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.section_restaurants {
  background-color: #a1e912;
  margin: 1rem auto;
  max-width: 1500px;
  padding: 1rem;
}

.section_restaurants h2 {
  padding: 1rem;
}

.section_restaurants .section_restaurant_cartes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section_restaurants .section_restaurants_carte {
  background-color: white;
  width: 19rem;
  height: 18rem;
  border-radius: 1.5rem;
  margin: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section_restaurants .section_restaurants_carte img {
  width: 100%;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
}

.section_restaurants_carte_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.fa-heart {
  background-color: gray;
  color: white;
}

.fa-heart:hover {
  color: violet;
}

footer {
  background-color: #131212;
}

footer .footer {
  margin: 0 auto;
  max-width: 1500px;
  padding: 2rem 1rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .fas {
  padding: 1rem 1rem 1rem 0;
}

footer .mentionsLegales {
  padding: 1rem 1rem 1rem 0;
}

footer .footer_header {
  margin: 0 1rem 1rem 0;
  font-size: 1.5rem;
  width: 100%;
}

footer .footerInfos {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .footerInfos {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

/*la palette du gout*/
.restaurant {
  max-width: 1500px;
  background-color: #e91818;
}

.restaurant .paletteDuGout_img {
  width: 100%;
  z-index: -10;
}

.restaurant .restaurantEntresPlats {
  z-index: 3;
  background-color: chartreuse;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1.5rem 1.5rem 0 0;
}

.restaurant .restaurantEntresPlats .nomDuRestaurant_titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: brown;
}

.menu {
  background-color: #bcc0bc;
  margin: 1rem auto;
  max-width: 1500px;
}

.menu .trait {
  width: 3rem;
  border: 2px solid green;
}

.menu .menuDescription {
  background-color: white;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
}

.menu .menuDescription .menuDescriptionPrix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3rem 0 0 0;
}

.commander {
  max-width: 1500px;
  margin: 0 auto;
  max-width: 1500px;
  background-color: blueviolet;
  text-align: center;
}

.commander .btn_commander {
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  background-color: violet;
}

@media screen and (min-width: 1050px) {
  .menu {
    margin: 0 auto;
    max-width: 1500px;
  }
  .carteMenuEntree {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .carteMenuPlats {
    margin: 0 1rem 0 2rem;
  }
}

@media screen and (min-width: 650px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu .carteMenuEntree {
    width: 100%;
  }
  .menu article {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .menu .carteMenuDesserts {
    margin-left: 1rem;
  }
  .commander {
    background-color: blueviolet;
    text-align: center;
    margin: 1rem 0;
  }
  .commander .btn_commander {
    padding: 0.5rem 2.5rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=default.css.map */