
*{
    margin:0;
    padding:0;
    text-decoration: none;
}
body{
     margin: 0 auto;
   max-width: 1500px;
    background-color: rgb(226, 219, 219);
}

.header, .section_location{
   margin:0 auto;
    max-width: 1500px;
    padding:  1rem;
    background-color: white;  
}
.section_location{
   margin:0 auto;
    max-width: 1500px;
    padding: 1rem; 
    background-color: gray; 
}
.section_presentation{
    margin:1rem auto;
    max-width: 1500px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.section_fonctionnement{
     margin:1rem auto;
    max-width: 1500px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    h2{
        flex-basis: 100%;
    }

    .section_btn{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .section_fonctionnement_btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
 .fas, .fa-mobile-alt{
padding: 1rem;
 }
}

@media screen and (max-width: 520px){
       .section_fonctionnement_btn{
flex-direction: column;

    }
     .fas, .fa-mobile-alt{
padding: 0;
 }
}


.section_restaurants{
     margin:1rem auto;
    max-width: 1500px;
    padding: 1rem;
  display: flex;
   flex-direction: column;
   h2{
       padding: 1rem;
   }
   .section_restaurant_cartes{
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       
   }
   .section_restaurants_carte{
       background-color: white;
       width: 19rem;
       height: 16rem;
       border-radius: 1.5rem;
       margin:1rem 0;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       img{
           width: 100%;
           height: 12rem;
           object-fit: cover;
           border-radius: 1.5rem 1.5rem 0 0;
       }
       .section_restaurants__carte_description{
           padding-left: 1rem;
       }
   }
 
}
.footer{
    width:100%;
    background-color:rgb(19, 18, 18);
    .footer{
    margin:1rem auto;
    max-width: 1500px;
    padding: 1rem;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }
    .fas{
        padding: 1rem 1rem 1rem 0;
    }
    .mentionsLegales{
        padding: 1rem 1rem 1rem 0; 
    }
    .footer_header{
        margin: 0 1rem 1rem 0;
        font-size: 1.5rem;
        width: 100%;
    }
}
@media screen and (max-width: 600px){

 .mentionsLegales{
        width: 100%; 
    }
}
